<h1><%= @page.title %></h1>

<br />

<div>
<p>
<%= @page.introduction.content.html_safe if @page.introduction.content.present? %>
</p>
<p>
<%= @page.body.content.html_safe if @page.body.content.present? %>
</p>
<% if @team_members.present? %>
    <% @team_members.each do |member| %>
    <h4><%= member.name %></h4>
        <i><%= member.role %></i>
        <br />
        <br />
        <p>
            <%= member.biography.html_safe %>
        </p>
    <% end %>

<% end %>
<% if @services.present? %>
    <% @services.each do |service| %>
        <h4><%= service.title %></h4>
        <p>
            <%= service.description.html_safe %>
        </p>
        <strong>Examples of our work:</strong>
        <p>
            <%= service.examples.html_safe %>
        </p>
    <% end %>
<% end %>

</div>
