<header id='main-nav' class='row align-middle'>
    <nav class='col col-6'>
        <%= link_to image_tag('logical-logo-horz.png'), root_path, alt: "Logical Thinking logo" %>
    </nav>
    <nav class='col col-6'>
        <ul class='row auto'>
            <li class='col'><%= link_to 'Home', root_path %></li>
            <li class='col'><%= link_to 'About Us', about_us_path %></li>
            <li class='col'><%= link_to 'What We Do', what_we_do_path %></li>
            <li class='col'><%= link_to 'Thoughts', thought_index_path %></li>
            <li class='col'><%= link_to 'Contact Us', contact_us_path %></li>
        </ul>
    </nav>
</header>