<!DOCTYPE html>
<html>
  <head>
    <title>LogicalThinking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div data-component="sticky">
            <%= render "layouts/nav"%>
        </div>
        <div class="wrapper w80" id="max-wrapper">
            <% if notice.present? %>
            <p class="message"><%= notice %></p>
            <% end %>

            <% if alert.present? || flash[:error] %>
            <p class="message error" data-component="message"><%= alert || flash[:error] %></p>
            <% end %>
            <%= yield %>
        </div>
    <footer class="row">
        <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
